* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: fixed;
    z-index: 20;
}

.content {
    width: 80vw;
    background-color: whitesmoke;
    padding: 10px;
    margin-left: 10vw;
    padding-top: 5vw;;
}

.dropmenu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropmenu > li {
    position: relative;
    margin-bottom: 5px;
}

.dropmenu > li > a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    background-color: whitesmoke;
    transition: background-color 0.5s;
    border-bottom: 2px solid blue;
}

.dropmenu > li > a:hover {
    background-color: gray;
}

.dropmenu > li > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    background-color: whitesmoke;
    border: 1px solid blue;
    width: calc(100% - 20px);
    position: relative;
    left: 10px;
    transition: max-height 0.5s ease-in-out;
}

.dropmenu > li:hover > ul {
    max-height: 500px; /* 最大の高さを適当に大きな値に設定 */
    margin-top: 5px;
}

.dropmenu > li > ul > li > a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    transition: background-color 0.5s;
}

.dropmenu > li > ul > li > a:hover {
    background-color: gray;
}