/* 基本スタイル */
.content {
    width: 100%;
    overflow-x: hidden;
    position: relative;
    margin-bottom: 10vw;
}

.structuremenu {
    display: flex;
    flex-direction: column;
    gap: 50px; /* スクロール部間の余白を追加 */
}

.structuretitle {
    text-align: left;
    font-size: 2em;
    padding: 3vw 10vw 2vw 10vw;
    margin-bottom: 10px; /* タイトルとボックス間の余白 */
}

.slideitem-container {
    position: relative;
}

.slideitem {
    height: 32vw;
    display: flex;
    overflow-x: scroll;
    overflow-y: visible; /* 垂直方向のスクロールを無効にする */
    padding: 0 10vw 0 10vw;
    gap: 7vw; /* ボックス間の余白 */
    -ms-overflow-style: none;  /* IEとEdge用 */
    scrollbar-width: none;  /* Firefox用 */
}

.slideitem::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Opera用 */
}

.structurebox {
    margin-top: 2vw;
    width: 21vw;
    height: 28vw;
    border-radius: 2vw;
    border: 1px solid gray;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    flex-shrink: 0;
    scroll-snap-align: start; /* ボックスのスナップ位置を設定 */
    transition: transform 0.5s; /* トランジションを追加 */
    z-index: 1; /* デフォルトのz-index */
}

.structurebox img {
    width: 100%;
    height: 100%;
    border-radius: 2vw;
    object-fit: cover;
}

.structuretext {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 1.5em;
    padding: 5px;
    border-radius: 5px;
}

.structurebox:hover {
    transform: scale(1.05); /* 拡大比率を設定 */
    z-index: 10; /* ホバー時に最前面に表示 */
}

.explainBox{
    display: none;
    position: fixed;
    z-index: 10;
    margin: 5vw 10vw 5vw 10vw;
    height: 40vw;
    width: 80vw;
    border-radius: 4vw;
    background-color: rgba(193, 252, 233, 0.909);
    border: 1px solid rgb(198, 238, 223);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.extext{
    text-align: center;
    margin:5vw;
}