body {
    background: white;
    padding: 0;
    margin: 0;
}

/*headerのデザイン*/

.header {
    display: flex;
    height: 5vw;
    width: 100vw;
    background-color: whitesmoke;
    align-items: center; /* ヘッダー内の項目を中央寄せ */
}

.horizontalMark {
    padding-left: 5vw;
    height: 5vw;
    width: 50vw;
    display: flex;
    align-items: center; /* 文字を中央寄せ */
}

.pageLink {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1; /* 残りのスペースを占める */
}

.pageLink .dropdown {
    position: relative;
    display: inline-block;
    width: 7vw; /* 各項目の幅を7vwに設定 */
}

.pageLink .dropdown-content {
    display: none;
    position: absolute;
    top: 100%; /* ヘッダーの直下に配置 */
    left: 0;
    width: 100vw; /* ドロップメニューの幅を画面全体に設定 */
    background-color: whitesmoke; /* 初期背景色を白に設定 */
    z-index: 1;
    transition: background-color 0.5s ease; /* 背景色の変化にトランジションを追加 */
    display: flex;
    flex-wrap: wrap; /* アイテムを複数行に表示 */
    padding: 0;
    margin: 0;
}

.pageLink .dropdown-content a {
    color: black;
    padding: 1vw 2vw; /* パディングをvwで設定 */
    text-decoration: none;
    display: block;
    transition: background-color 0.5s ease; /* 背景色の変化にトランジションを追加 */
    text-align: center; /* テキストを中央寄せ */
    flex: 1; /* アイテムを均等に広げる */
    box-sizing: border-box;
}

.pageLink .dropdown-content a:hover {
    background-color: grey; /* ホバー時に背景色をグレーに変更 */
}

.pageLink .dropdown:hover .dropdown-content {
    display: flex; /* ドロップダウンメニューを表示 */
}

.pageLink .dropdown a h3 {
    margin: 0;
    padding: 1vw;
    background-color: whitesmoke;
    transition: background-color 0.5s ease;
    display: flex;
    align-items: center; /* 文字を中央寄せ */
    justify-content: center; /* 文字を中央寄せ */
}

.pageLink .dropdown a h3:hover {
    background-color: grey;
}

/*contentのデザイン*/

.content {
    padding-left: 2vw;
}